


/* Sections */
:root {
    --nav-bg: #1C1C3C;
    --nav-text: #9CA9D0;
}

:root{
    --background-colour: #f9fafb;
    --footer-bg: #f9fafb9f;
    --text1: #101011;
    --text2: #38393d;
    --text3: #858793;
    --highlight: #dae9f1;
    --text-highlight: #197feb;

    --hover-border: #e8e8e8;
    --hover-shadow: #9a9ea571;
    --hover-inset: #ffffff;
    --hover-background: #ffffffb3;
    --listening: #07a056;

}

*::-webkit-media-controls-panel {

  display: none!important;

  -webkit-appearance: none;

}

*::--webkit-media-controls-play-button {

  display: none!important;

  -webkit-appearance: none;

}

*::-webkit-media-controls-start-playback-button {

  display: none!important;

  -webkit-appearance: none;

}

html{
    scroll-behavior: smooth;
}

html, body{
    margin: 0;
}

body{
    background-color: #1C1C3C;
}
section{
    width: 100%;
    height: 100vh;
    position: relative;
}

.asana{
    background-color: #1C1C3C;
}

.google{
    background-color: #35494B;
}

.bawl{
    background-color: #181814;
}

.playground{
    background-color: #131314;
}

.video-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 1rem;
    background-color: var(--nav-bg);
}

nav a{
    color: var(--nav-text);
    text-decoration: none;
    text-align: right;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

nav svg path{
    fill: var(--nav-text);
    transition: fill 0.3s ease;
}

nav a:hover, nav a:focus{
    color: white;
}

nav a:hover svg path, nav a:focus svg path{
    fill: white;
}

.right{
    float: right;
    margin-right: 1.5rem;
}
.end{
    margin-right: 0;
}

.keyaan{
    font-family: "STIX Two Text", sans-serif;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
}


video{
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.25s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.vid-caption{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 34rem;
    display: inline-flex;
    align-items: flex-start;
    bottom: 4rem;
    gap: 8rem;
}

.vid-caption a{
    display: flex;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.5rem 1rem;
    background-color: #423AA9;
    height: fit-content;
    text-align: right;
    border-radius: 10rem;
    border: solid 0.1rem #645EDE;
    color: #E8E7E7;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.vid-caption a svg{
    margin-left: 0.5rem;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.vid-caption a:hover svg, .vid-caption a:focus svg{
    transform: rotate(10deg);
}

h2{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 16rem;
    margin: 0;
    padding: 0;
}

.bold{
    font-weight: 600;
}





/* Indiv Styles */


.asana video{
    border-radius: 1rem;
    border: solid #4E4E4E 0.1rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.25);
}

.asana .video-container{
    width: 34rem;
}

.asana .video-container video:hover{
    transform: rotate(2deg);
}

.asana h2{
    color: #9CA9D0;
}

.asana .bold{
    color: #D9DFEE;
}

.asana .vid-caption a:hover, .asana .vid-caption a:focus{
    background-color: #645EDE;
    transform: scale(102%);
}


.google video{
    border-radius: 0.5rem;
    border: solid #DBDBDB 0.05rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.25);
}
.google .video-container{
    width: 66rem;
}

.google .video-container video:hover{
    transform: rotate(-1deg);
}

.google h2{
    color: #B9C2C3;
}

.google .bold{
    color: #DAE7E9;
}

.google .vid-caption a{
    background-color: rgba(53, 95, 99, 1);
    color: #DAE7E9;
    border: #4B8287 solid 0.1rem;
}

.google .vid-caption svg path{
    fill: #DAE7E9;
}

.google .vid-caption a:hover, .google .vid-caption a:focus{
    background-color: #4B8287;
}



.bawl .video-container{
    width: 29rem;
    height: auto;
}

.bawl video{
    border-radius: 1rem;
    border: solid #212121 0.05rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.25);
}

.bawl .video-container video:hover{
    transform: rotate(2deg);
}

.bawl h2{
    color: #A7A7A7;
}

.bawl .bold{
    color: #D4D4D4;
}

.bawl .vid-caption a{
    background-color: #2A2A21;
    color: #D4D4D4;
    border: #444436 solid 0.1rem;
}

.bawl .vid-caption svg path{
    fill: #D4D4D4;
}

.bawl .vid-caption a:hover, .google .vid-caption a:focus{
    background-color: #444436;
}


.play-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 4rem;
    
}

.play-content video{
    max-width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
}

.play-content a{
    color: #A7A7A7;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}



/* footer */

footer{
    font-family: "inter", sans-serif;
}

#cover{
    display: inline-block;
    max-width: 100%;
    height: auto;
    width: 4rem;
    border-radius: 0.3rem;
}
#song{
    font-size: 1rem;
    font-weight: 550;
    color: #D4D4D4;
    display: inline-block;
    margin-bottom: 0;
}
#artist{
    font-size: 1rem;
    margin-top: 0.1rem;
    text-transform: uppercase;
    color: var(--text3);
    margin-left: 1rem;
    display: inline-block;
    margin-bottom: 0;
}

.music-section{
    display: flex;
    max-width: fit-content;
    align-items: center;
    gap: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#timeAgo{
    font-size: 1rem;
    margin-top: 0.1rem;
    position: relative;
    color: #999c9a;
    transition: color 0.25s ease;
}

#timeAgo::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: var(--listening);
  transform: translateY(-50%) scale(0);
  opacity: 0;
  transition: opacity 0.2s ease;
  text-decoration: none;
}

#timeAgo.listening {
    color: var(--listening);
    padding-left: 1.2em;
    text-decoration: none;
}

#timeAgo.listening::before {
  opacity: 1;
  animation: pulseDot 1.5s cubic-bezier(.4,0,.2,1) infinite;
}

.music-box{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    max-width: fit-content;
}

.music-arrow{
    right: 1rem;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 999;
    height: 8rem;
    background-color: #35494B;
}

#seasonEmoji {
  margin-right: 0.5em;
  font-size: 1.2rem;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}

#pstTime{
    font-size: 1rem;
    font-weight: 550;
    color: #D4D4D4;
    align-items: center;
    margin-bottom: 0rem;
    text-align: right;
    text-decoration: none;
    display: inline-block;
}

.footer-text{
    font-size: 1rem;
    margin-top: 0.25rem;
    text-align: right;
    color: #999c9a;
    display: block;
}

.left-foot{
    max-width: fit-content;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}


footer a{
    text-decoration: none;
}



/* Pulse animation */
@keyframes pulseDot {
  0% {
    transform: translateY(-50%) scale(0.85);
    opacity: 1;
  }
  50% {
    transform: translateY(-50%) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) scale(0.85);
    opacity: 1;
  }
}




/* Media */

@media(max-width: 69rem){
    .google .video-container{
        width: 40rem;
    }

    .play-content{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 44rem){
    .google .video-container{
        width: 30rem;
    }
    .play-content{
    grid-template-columns: 1fr;
}

.playground{
    height: max-content;
}
}

@media(max-width: 39rem){
    .vid-caption{
        width: 15rem;
        gap: 3rem;
        flex-direction: column;
        bottom: 0;
        text-align: center;
    }

    .vid-caption a{
        text-align: center;
        align-self: center;
    }

    section{
        height: 55rem;
    }

    .asana .video-container{
        width: 25rem;
    }

    .google .video-container{
        width: 25rem;
    }

    .bawl .video-container{
        width: 20rem;
    }

    .video-container{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
}

.music-section{
    visibility: hidden;
}

.left-foot{
    visibility: hidden;
}


}

@media(max-width: 38rem){
    section{
        overflow-x: hidden;
    }
}
